@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-color: rgba(40, 149, 255, 0.6);
}

.mySwiper.swiper {
  width: 200px;
  height: 180px;
  /* left: 50% !important; */
  /* top: 50% !important; */
  /* margin-left: -150px !important; */
  /* margin-top: -150px !important; */
}

/* .mySwiper.swiper-slide {
  background-position: center !important;
  background-size: cover !important;
} */

.mySwiper.swiper-slide img {
  display: block !important;
  width: 100% !important;
}

.mainSwiper .swiper {
  width: 100%;
  height: 100%;
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px 0px;
}

.mainSwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.mainSwiper .swiper-slide img {
  display: block;
  object-fit: contain;
  background: transparent;
}

.mainSwiper .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.3 !important;
  filter: grayscale(80%) !important;
  transition: all 0.5s ease-in-out !important;
  transition-property: all 0.5s ease-in-out !important;
}

.main-outSwiper .swiper-slide:not(.swiper-slide-active):hover {
  opacity: 1 !important;
  filter: grayscale(0%) !important;
  transition: all 0.5s ease-in-out !important;
  transition-property: all 0.5s ease-in-out !important;
}

/* .swiper-slide-bg-image {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 0;
} */

/* .swiper-slide img {
  position: relative;
  display: block;
  width: 75%;
  height: 100%;
  object-fit: cover;
  background: blue linear-gradient(180deg,transparent 0,#000 100%);
  padding: 10px;
} */

/* .swiper {
  overflow: clip !important;
}

.swiper-slide:not(.swiper-slide-active) {
  opacity: 0.6 !important;
  filter: grayscale(60%) !important;
  transition: all 0.2s ease-in !important;
  transition-property: all 0.2s ease-in !important;
}

.swiper-slide:not(.swiper-slide-active):hover {
  opacity: 1 !important;
  filter: grayscale(0%) !important;
  transition: all 0.3s ease-in !important;
  transition-property: all 0.3s ease-in !important;
}

.swiper {
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0px 0px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  position: relative;
  box-sizing: border-box;
}

.swiper-slide-bg-image {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.swiper-slide-bg-image-7cef {
  object-fit: contain;
} */

@media (min-width: 350px) {
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  .mySwiper.swiper {
    width: 240px;
    height: 240px;
  }
}

@media (min-width: 400px) {
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  .mySwiper.swiper {
    width: 240px;
    height: 200px;
  }
}

@media (min-width: 425px) {
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  .mySwiper.swiper {
    width: 240px;
    height: 200px;
  }
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .swiper-slide img {
    width: 90%;
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .swiper-slide img {
    width: 60%;
    height: 100%;
  }
}

@media (min-width: 1680px) {
  .swiper-slide img {
    width: 90%;
    height: 100%;
  }
}

@media (min-width: 1280px) {
  .swiper-slide img {
    width: 70%;
    height: 100%;
  }

  .mySwiper.swiper {
    width: 260px;
    height: 200px;
    margin-top: 40px;
  }
}

@media (min-width: 1980px) {
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  .mySwiper.swiper {
    width: 300px;
    height: 200px;
    margin-top: 40px;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 2rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
  * {
    @apply border-border;
  }
  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight;
  }
  .btn-primary {
    @apply bg-black text-white;
  }
  .btn-text {
    @apply text-black bg-transparent;
  }
  .logo-ticker-image {
    @apply h-8 w-auto;
  }
  .tag {
    @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tight;
  }
  .section-title {
    @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-black to-[#001e80] text-transparent bg-clip-text;
  }
  .section-description {
    @apply text-center text-[22px] leading-[30px] tracking-tight text-[#010d3e];
  }
  .section-heading {
    @apply max-w-[540px] mx-auto;
  }
  .card {
    @apply p-10 border border-[#F1F1F1] max-w-xs w-full rounded-3xl shadow-[0_7px_14px_#EAEAEA];
  }
}
