@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-color: rgba(40, 149, 255, 0.6);
}

/* .required:before {
  content: "*";
  font-weight: bold;
} */

.magicpattern {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg width=%223840%22 height=%222160%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath fill=%22none%22 d=%22M0 0h3840v2160H0z%22%2F%3E%3Cpath d=%22M0 240h0c190.926-37.467 381.851-74.933 586-54 204.149 20.933 421.52 100.267 638 98 216.48-2.267 432.067-86.133 648-93 215.933-6.867 432.213 63.267 672 94 239.787 30.733 503.082 22.067 723 8s396.459-33.533 613-53%22 fill=%22none%22 stroke=%22%2351a9ff%22 stroke-width=%222%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 480h0c205.256 5.533 410.513 11.067 613 7 202.487-4.067 402.205-17.733 641-5 238.795 12.733 516.667 51.867 743 48 226.333-3.867 401.128-50.733 600-51 198.872-.267 421.82 46.067 633 54s410.59-22.533 650-53%22 fill=%22none%22 stroke=%22%23a3d2ff%22 stroke-width=%222%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 720h0c261.138 28.118 522.277 56.236 710 58 187.723 1.764 302.03-22.826 493-48 190.97-25.174 458.6-50.933 682-50 223.4.933 402.57 28.559 609 50s440.123 36.697 669 34c228.877-2.697 452.938-23.349 717-44%22 fill=%22none%22 stroke=%22%23acd6ff%22 stroke-width=%222%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 960h0c237.305-26.241 474.61-52.482 662-42s324.864 57.687 553 83c228.136 25.313 546.933 28.733 767 0s341.403-89.62 538-89c196.597.62 468.456 62.749 701 81 232.544 18.251 425.772-7.374 659-33%22 fill=%22none%22 stroke=%22%23bddeff%22 stroke-width=%222%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 1200h0c229.262-3.264 458.523-6.528 671-6 212.477.528 408.17 4.849 628 4 219.83-.849 463.8-6.867 662-6s350.63 8.618 547-1 436.677-36.605 666-38c229.323-1.395 447.662 22.803 706 47%22 fill=%22none%22 stroke=%22%23cfe7ff%22 stroke-width=%222%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 1440h0c202.697 21.056 405.395 42.113 630 47 224.605 4.887 471.118-6.395 678-26s374.133-47.533 592-53c217.867-5.467 486.349 11.528 725 30s447.472 38.42 645 39c197.528.58 383.764-18.21 610-37%22 fill=%22none%22 stroke=%22%2366b3fe%22 stroke-width=%222%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 1680h0c195.641-34.71 391.282-69.42 620-54 228.718 15.42 490.513 80.972 690 102 199.487 21.028 336.667-2.467 558-27 221.333-24.533 526.82-50.105 766-41 239.18 9.105 412.051 52.887 602 62s396.974-16.444 644-42%22 fill=%22none%22 stroke=%22%2342a1ff%22 stroke-width=%222%22 stroke-linecap=%22round%22%2F%3E%3Cpath d=%22M0 1920h0c224.07-1.292 448.138-2.585 665-12 216.862-9.415 426.515-26.954 644-39s442.8-18.6 662-7c219.2 11.6 432.285 41.354 638 51 205.715 9.646 404.062-.815 608-3s413.47 3.908 663 10%22 fill=%22none%22 stroke=%22%2392c9ff%22 stroke-width=%222%22 stroke-linecap=%22round%22%2F%3E%3C%2Fsvg%3E");
}

/* https://codepen.io/techtomato/pen/MWeLqzB */
button#neumorphism-button {
  width: 300px;
  display: block;
  margin-top: 35px;
  border: 2px solid #56ff47;
  /* border: 2px solid #2895FF; */
  cursor: pointer;
  font-family: "Oxygen", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 5px;
  /* color: #b1bcc8; */
  /* background-color: #0002; */
  border-radius: 14px;
  padding: 16px 30px 16px 30px;
  box-shadow: -8px -8px 17px rgba(140, 255, 102, 0.267),
    10px 10px 30px #00000035, inset -1px -1px 2px #0000003a,
    inset 1px 1px 3px #fff4;
  animation: shadowLeave 0.3s;
}

button#neumorphism-button:hover {
  letter-spacing: 2.5px;
  font-weight: 600;

  color: white;
  background-color: #267523;
  text-shadow: 0 0 8px rgba(200, 255, 170, 0.333);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.118), -1px -1px 5px #fff1;
  animation: shadowEnter 0.15s;
}

button#neumorphism-button:active {
  box-shadow: inset 8px 8px 17px rgba(0, 0, 0, 0.286),
    inset -6px -6px 13px #fff2;
}
@keyframes shadowEnter {
  0% {
    box-shadow: -7px -7px 25px rgba(135, 255, 102, 0.4),
      10px 10px 30px #00000045, inset -1px -1px 2px #00000039,
      inset 1px 1px 3px #fff4;
    font-weight: 400;
    letter-spacing: 5px;
  }

  100% {
    box-shadow: 1px 1px 5px #0001, -1px -1px 5px #fff1;
    font-weight: 600;
    letter-spacing: 2.5px;
  }
}

@keyframes shadowLeave {
  0% {
    box-shadow: 0 0 0 #fff2, 0 0 #00000036, inset 0 -1px 0 #00000042,
      inset 0 0 0 #fff4;
    font-weight: 600;
    letter-spacing: 2.5px;
  }

  100% {
    box-shadow: -7px -7px 25px #fff2, 10px 10px 30px #00000031,
      inset -1px -1px 2px #00000032, inset 1px 1px 3px #fff4;
    font-weight: 400;
    letter-spacing: 5px;
  }
}

/* hi-contact {
  --hi-bg-color: #e7f3ff;
  --hi-text-color: rgb(187, 43, 43);
  --hi-border-color: rgb(243, 244, 246, 0.1);
  --hi-button-color: rgba(40, 149, 255, 0.6);
  --hi-button-hover-color: rgb(24, 181, 129);
  --hi-button-text-color: rgb(6, 5, 5);
  --hi-button-text-hover: rgba(120, 116, 144, 1);
  --hi-placeholder-text: rgb(184, 32, 32);
  --hi-placeholder-color: rgb(6, 5, 5);
} */

.mySwiper.swiper {
  width: 200px;
  height: 180px;
  /* left: 50% !important; */
  /* top: 50% !important; */
  /* margin-left: -150px !important; */
  /* margin-top: -150px !important; */
}

/* .mySwiper.swiper-slide {
  background-position: center !important;
  background-size: cover !important;
} */

.mySwiper.swiper-slide img {
  display: block !important;
  width: 100% !important;
}

.mainSwiper .swiper {
  width: 100%;
  height: 100%;
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px 0px;
}

.mainSwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.mainSwiper .swiper-slide img {
  display: block;
  object-fit: contain;
  background: transparent;
}

.mainSwiper .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.3 !important;
  filter: grayscale(80%) !important;
  transition: all 0.5s ease-in-out !important;
  transition-property: all 0.5s ease-in-out !important;
}

.main-outSwiper .swiper-slide:not(.swiper-slide-active):hover {
  opacity: 1 !important;
  filter: grayscale(0%) !important;
  transition: all 0.5s ease-in-out !important;
  transition-property: all 0.5s ease-in-out !important;
}

/* .swiper-slide-bg-image {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 0;
} */

/* .swiper-slide img {
  position: relative;
  display: block;
  width: 75%;
  height: 100%;
  object-fit: cover;
  background: blue linear-gradient(180deg,transparent 0,#000 100%);
  padding: 10px;
} */

/* .swiper {
  overflow: clip !important;
}

.swiper-slide:not(.swiper-slide-active) {
  opacity: 0.6 !important;
  filter: grayscale(60%) !important;
  transition: all 0.2s ease-in !important;
  transition-property: all 0.2s ease-in !important;
}

.swiper-slide:not(.swiper-slide-active):hover {
  opacity: 1 !important;
  filter: grayscale(0%) !important;
  transition: all 0.3s ease-in !important;
  transition-property: all 0.3s ease-in !important;
}

.swiper {
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0px 0px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  position: relative;
  box-sizing: border-box;
}

.swiper-slide-bg-image {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.swiper-slide-bg-image-7cef {
  object-fit: contain;
} */

@media (min-width: 350px) {
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  .mySwiper.swiper {
    width: 240px;
    height: 240px;
  }
}

@media (min-width: 375px) {
  .swiper-slide img {
    width: 70%;
    height: 70%;
  }

  .mySwiper.swiper {
    width: 240px;
    height: 240px;
  }
}

@media (min-width: 400px) {
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  .mySwiper.swiper {
    width: 240px;
    height: 200px;
  }
}

@media (min-width: 425px) {
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  .mySwiper.swiper {
    width: 240px;
    height: 200px;
  }
}

/* @media (min-width: 640px) {
} */

@media (min-width: 768px) {
  .swiper-slide img {
    width: 90%;
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .swiper-slide img {
    width: 60%;
    height: 100%;
  }
}

@media (min-width: 1680px) {
  .swiper-slide img {
    width: 90%;
    height: 100%;
  }
}

@media (min-width: 1280px) {
  .swiper-slide img {
    width: 70%;
    height: 100%;
  }

  .mySwiper.swiper {
    width: 260px;
    height: 200px;
    margin-top: 40px;
  }
}

@media (min-width: 1440px) {
  .swiper-slide img {
    width: 80%;
    height: 100%;
  }
}

@media (min-width: 1980px) {
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  .mySwiper.swiper {
    width: 300px;
    height: 200px;
    margin-top: 40px;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 2rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
  * {
    @apply border-border;
  }
  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight;
  }
  .btn-primary {
    @apply bg-black text-white;
  }
  .btn-text {
    @apply text-black bg-transparent;
  }
  .logo-ticker-image {
    @apply h-8 w-auto;
  }
  .tag {
    @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tight;
  }
  .section-title {
    @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-black to-[#001e80] text-transparent bg-clip-text;
  }
  .section-description {
    @apply text-center text-[22px] leading-[30px] tracking-tight text-[#010d3e];
  }
  .section-heading {
    @apply max-w-[540px] mx-auto;
  }
  .card {
    @apply p-10 border border-[#F1F1F1] max-w-xs w-full rounded-3xl shadow-[0_7px_14px_#EAEAEA];
  }
}
